# Project 2: Two Mode Network  
IS620 Web Analytics  
Aaron Palumbo | Partho Banarjee

In [1]:
import IPython.display as dis
import networkx as nx
import pandas as pd

## Data

We chose the following dataset to work with:

In [7]:
dis.IFrame(src="http://www.boardsandgender.com/data.php",
           width=800, height=400)

Specifically, we will work with the data from Aug. 2011.

## Data Cleaning

First we need to clean this up a bit. Our data file contains two columns, the first identifies a director, the second identifies a board to which that director is associated. Let's take a look at what we have:

In [25]:
netDF = pd.read_csv("net2m_2011-08-01.txt", sep=" ", header=None, names=["company", "person"])
print netDF.shape
netDF.head()

(1746, 2)

   company  person
0        1    2149
1        1    2910
2        1    3684
3        1    3754
4        2     766

In [31]:
print "The range of values for company are: {} to {}".format(netDF.company.min(), 
                                                             netDF.company.max())

The range of values for company are: 1 to 384

In [32]:
print "The range of values for person are: {} to {}".format(netDF.person.min(),
                                                            netDF.person.max())

The range of values for person are: 3 to 5766

In [52]:
# Quick sense for the number of  overlaping values
sum([i in netDF.person.values for i in netDF.company.values])

414

We can't add these to a networkx graph yet since it will treat the overlapping numbers as the same node.